{% extends 'inicio/index.html' %}
{% load static %}
{% block title %} publicaciones {% endblock title %}
{% block header %}
<script>
  function token(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}
var csrftoken = token('csrftoken');
  </script>
  {% endblock header %}


{% block body %}
<main id="main">
  <section id="Noticias" class="about-boxes">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{detalles.titulo }}</h2>
          <ol>
            
            <li><a class="btn btn-danger " href="{% url 'chats-index:chats' %}">Ponte en contacto</a></li>
            
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{detalles.imagen}}" alt="">
                </div>
                


              </div>
              <div class="">
                <h2>{{detalles.titulo}}</h2>
                <p>
                  {{detalles.content| safe}}
                </p>
              </div>
              
                
              <div class="swiper-pagination"></div>
            </div>


            <section id="about-boxes" class="about-boxes">
              <div class="container" data-aos="fade-up">
        
                <div class="row">
            {% for x in recomendaciones %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="card">
                <img src="{{x.imagen}}" class="card-img-top" alt="...">
                <div class="card-icon">
                  <img src="{{x.autor.usuario.imagen.url}}" border-radius="50"  width="50"   alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'blog:detalles_post' x.id %}">{{x.titulo}}</a></h5>
                  <p class="card-text">{{x.descripcion}} </p>
                </div>
              </div>
            </div>
            {% endfor %}

            

          </div>

        </div>
      </section>

          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                
                <li><strong>Title</strong>: {{detalles.titulo}}</li>
                <li><strong>Category</strong>: {{detalles.categoria}}</li>
                <li><strong>slug</strong>: {{detalles.slug}}</li>
                <li><strong>description</strong>: {{detalles.descripcion}}</li>
                <li><strong>Autor</strong>: <a href="{% url 'blog:detalles-autor' detalles.autor.id %}">{{detalles.autor}}</a></li>
                <li><strong>Project URL</strong>: <a href="#">crear un  dato par git</a></li>
                <li></li>
                <li><div id="paypal-button-container"></div>

                  <script src="https://www.paypal.com/sdk/js?client-id=Af6Xi9WXzy-aPWSKygyMggcqCk8aEzo-COV2FmnD_SYV0nxjeutJ-7azGumtFLxwb4JVlHN-RGuQIK-4"></script>
                  </script>
              
                  <script>
                      paypal.Buttons({
                        createOrder: function(data, actions) {
                          // This function sets up the details of the transaction, including the amount and line item details.
                          return actions.order.create({
                            purchase_units: [{
                              amount: {
                                value: '100.00'
                              }
                            }]
                          });
                        },
                        onApprove: function(data) {
                          return fetch('/pago/', {
                              method: 'POST',
                              headers: {
                              'content-type': 'application/json',
                              'X-CSRFToken': csrftoken,
                              },
                              body: JSON.stringify({
                              orderID: data.orderID
                              })
                          }).then(function(res) {
                              return res.json();
                          }).then(function(details) {
                              alert(details.mensaje);
                          })
                        }
                      }).render('#paypal-button-container');
                      //This function displays Smart Payment Buttons on your web page.
                    </script></li>
              </ul>
            </div>
            

            
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
  </section>

  </main><!-- End #main -->

  {% endblock body %}