{% extends 'inicio/index.html' %}
{% load static %}
{% block title %} publicaciones {% endblock title %}

{% block body %}
<main id="main">
  <section id="Noticias" class="about-boxes">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{detalles.titulo }}</h2>
          <ol>
            <li><a href="{% url 'inicio:index-principal' %}">Home</a></li>
            <li>Publications Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{detalles.imagen}}" alt="">
                </div>
                


              </div>
              <div class="">
                <h2>{{detalles.titulo}}</h2>
                <p>
                  {{detalles.content| safe}}
                </p>
              </div>
              <div class="swiper-pagination"></div>
            </div>


            <section id="about-boxes" class="about-boxes">
              <div class="container" data-aos="fade-up">
        
                <div class="row">
            {% for x in recomendaciones %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="card">
                <img src="{{x.imagen}}" class="card-img-top" alt="...">
                <div class="card-icon">
                  <img src="{{x.autor.usuario.imagen.url}}" border-radius="50"  width="50"   alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'blog:detalles_post' x.id %}">{{x.titulo}}</a></h5>
                  <p class="card-text">{{x.descripcion}} </p>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>

        </div>
      </section>

          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                
                <li><strong>Title</strong>: {{detalles.titulo}}</li>
                <li><strong>Category</strong>: {{detalles.categoria}}</li>
                <li><strong>slug</strong>: {{detalles.slug}}</li>
                <li><strong>description</strong>: {{detalles.descripcion}}</li>
                <li><strong>Autor</strong>: <a href="{% url 'blog:detalles-autor' detalles.autor.id %}">{{detalles.autor}}</a></li>
                <li><strong>Project URL</strong>: <a href="#">crear un  dato par git</a></li>
                <li><!-- Replace "test" with your own sandbox Business account app client ID -->
                  <script src="https://www.paypal.com/sdk/js?client-id=Af6Xi9WXzy-aPWSKygyMggcqCk8aEzo-COV2FmnD_SYV0nxjeutJ-7azGumtFLxwb4JVlHN-RGuQIK-4"></script>
                  <!-- Set up a container element for the button -->
                  <div id="paypal-button-container"></div>
                  <script>
                    paypal.Buttons({
                      // Sets up the transaction when a payment button is clicked
                      createOrder: (data, actions) => {
                        return actions.order.create({
                          purchase_units: [{
                            amount: {
                              value: '77.44' // Can also reference a variable or function
                            }
                          }]
                        });
                      },
                      // Finalize the transaction after payer approval
                      onApprove: (data, actions) => {
                        return actions.order.capture().then(function(orderData) {
                          // Successful capture! For dev/demo purposes:
                          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                          const transaction = orderData.purchase_units[0].payments.captures[0];
                          alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                          // When ready to go live, remove the alert and show a success message within this page. For example:
                          // const element = document.getElementById('paypal-button-container');
                          // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                          // Or go to another URL:  actions.redirect('thank_you.html');
                        });
                      }
                    }).render('#paypal-button-container');
                  </script></li>
              </ul>
            </div>
            

            
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
  </section>

  </main><!-- End #main -->

  {% endblock body %}