
{% extends 'inicio/index.html' %} {% load static %} {% block title %}
publicaciones {% endblock title %} {% block body %} {% if error %}
<h1>{{ error }}</h1>
{% else %}
<div class="row">
  <div class="col-md-8 text-start mb-5 mt-5"></div>
</div>
<form method="POST" enctype="multipart/form-data">
  <!--para que los datos no se visualicen al ser enviados por  medio de la url-->
  <table>
    {{formSolicitud.as_p}}
  </table>
  <button  class="btn btn-danger " type="submit">Cancelar</button>
  <button  class="btn btn-success" type="submit">Enviar</button>
  {% csrf_token %}
</form>
{% endif %} {% endblock body %}