{% extends 'inicio/index.html' %} 
{% load static %} 
{% block title %} Vender {%endblock title %} 
{% block body %}


  <section class="pb-5 position-relative bg-gradient-g mx-n3">
    <div class="container">
      <div class="row"></div>
    </div>
    <br>
  </section>
  <br>
  <br>
  <span class="mask bg-gradient-red opacity-6"></span>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-4 col-md-8 col-12 mx-auto">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div
              class="bg-gradient-primary-shadow-primary border-radius-lg py-3 pe-1"
            >
              <h4 class="text-black font-weight-bolder text-center mt-2 mb-0">
                Quiere convertirse en vendedor ?
              </h4>
              <br>
              <br>
              <form method="post">
                <!--para que los datos no se visulisen al ser enviados por  medio de la url-->

                <a
                  class="btn btn-danger"
                  href="{% url 'inicio:index-principal' %}"
                  >inicio</a
                >
                <button type="submit" class="btn btn-success">Confirmar</button>
                {% csrf_token %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br> 
  <br>
  <br>
  <br>
  <br>
  <br>


{% endblock body %}
